#projetos {
  padding: 120px 60px;
  display: grid;
  justify-content: center;
}
.project-container {
  margin-top: 32px;
  background-color: rgba(248, 248, 248, 0.231);
  padding: 16px 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 16px;
  align-self: center;
}

.card-project {
  padding: 16px;
  max-width: 300px;
  flex: 1;
  display: flex;
  gap: 32px;
  border-radius: 8px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: var(--p-200);
  position: relative;
}

.card-project-icons {
  display: flex;
  gap: 0px 4px;
}
.card-project-icons li a {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
}
.card-project-icons li a:hover {
  background-color: var(--p-300);
}
.card-project-icons li a img {
  max-width: 25px;
}

.card-project-title {
  font: bold 1.5rem/1.35 "Quicksand", sans-serif;
  color: var(--p-700);
}

.card-project-body {
  font: 400 1.2rem/1.35 "Quicksand", sans-serif;
  color: var(--p-900);
}

.card-project-skils {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.card-project-skils li {
  padding: 8px 16px;
  background-color: white;
  border-radius: 8px;
}
@media (max-width: 1000px) {
  .project-container {
    background-color: transparent;
  }
}
@media (max-width: 760px) {
  #projetos h2 {
    text-align: center;
  }
  .project-container {
    flex-direction: column;
  }
}

@media (max-width: 460px) {
  .card-project-body {
    font: 400 0.8rem/1.35 "Quicksand", sans-serif;
  }
}
@media (max-width: 550px) {
  #projetos {
    padding: 32px 64px;
  }
  .card-project-skils {
    font: 400 0.8rem/1.35 "Quicksand", sans-serif;
  }
}
